[submodule "lib/SIPSorceryMedia.SDL2"]
	path = lib/SIPSorceryMedia.SDL2
	url = https://github.com/sipsorcery-org/SIPSorceryMedia.SDL2.git
[submodule "lib/sipsorcery"]
	path = lib/sipsorcery
	url = https://github.com/sipsorcery-org/sipsorcery.git
[submodule "lib/SIPSorceryMedia.FFmpeg"]
	path = lib/SIPSorceryMedia.FFmpeg
	url = https://github.com/sipsorcery-org/SIPSorceryMedia.FFmpeg.git
